@import

/*Show Smart-phone layouts*/

/*@media (min-width: 480px) { ... }*/

/*Medium devices (tablet and others)*/
/*@media (min-width: 768px) {*/


/*Large devices (desktops, 992px and up)*/
/*@media (min-width: 992px)*/

/*font-family: 'Open Sans', sans-serif;*/
/*font-family: 'Poppins', sans-serif;*/
/*font-family: 'Roboto', sans-serif;*/
    .openSans {
        font-family: 'Open Sans', sans-serif;
    }

    .roboto {
        font-family: 'Roboto', sans-serif;
    }

    .poppins {
        font-family: 'Poppins', sans-serif;
    }

    .headlineL {
        font-size: 48px;
    }

    .headlineS {
        font-size: 36px;
    }

    .titles {
        font-size: 20px;
    }

    .body1 {
        font-size: 18px;
    }

    .body2 {
        font-size: 16px;
    }

    .subBody {
        font-size: 14px;
    }


    .color-green {
        color: #48ae76;
    }

    .buttons {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        border-radius: 20px;
        color: white;
        background-image: linear-gradient(to bottom right, #48ae76,#8cc63f);
    }

    body {
        font-family: 'Open Sans', sans-serif;
    }

    #logo  {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
    }

    nav.navbar {
        margin: 0 auto;
        min-width: 320px;
        background-color: white;
    }

    .navbar-toggler {
        border-color: white;
        border-style: none;
    }

    .navbar-brand {
        margin-right: 10px;
    }

    .nav-item a:hover {
        color: #48ae76 !important;
        cursor: pointer;
    }

    a {
        color: inherit;

    }

    a.nav-link {
        padding-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dbe4e5;
        font-size: 14px;
    }

    .nav-btn, .start-btn {
        width: 300px;
        height: 40px;
        border-radius: 20px;
        color: white;
        background-image: linear-gradient(to bottom right, #48ae76,#8cc63f);
    }

    img {
        object-fit: contain;
    }

    .logo {
        width: 150px;
        height: 100%;
        background-color: green;
    }

    .bg-img {
        margin-top: 62px;
        width: 100vw;
        height: 60vh;
        background-image:url(https://i.imgur.com/ug60Sxa.png);
        /*background-image:url(https://i.imgur.com/PkRAK6q.jpg);*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    /*#main-img {*/
    /*    position:absolute;*/
    /*    left:0px;*/
    /*    top:0px;*/
    /*    z-index:-1;*/
    /*}*/

    nav {
        text-align: center;
    }


    a.mr-sm-2 {
        padding-bottom: 20px;
        border-bottom: none;
    }

    #main-message {
        font-family: 'Roboto', sans-serif;
        font-size: 36px;
        min-width: 320px;
        line-height: 40px;
    }

    #main-sub-message {
        font-size: 14px;
        width: 65vw;
        max-width: 415px;
        min-width: 320px;
    }

    /*.navbar-toggler .navbar-toggler-icon {*/
    /*    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,178,113, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");*/
    /*}*/

    .data-science {
        text-align: center;
        height: 400px;
        /*margin: 50px 5px 50px 5px;*/
        font-size: 18px;
        min-width: 320px;
    }

    .data-science-text {
        margin: 0 auto;
        max-width: 270px;
    }

    .pg-break {
        height: 50px;
    }

    .step-by-step {

    }

    .step-img {
        width: 400px;
        min-width: 320px;
        height: 400px;
        background-color: white;
    }

    .step-msg {
        width: 300px;
        min-width: 300px;
        font-size: 16px;
    }

    #friends-img {
        max-width: 100%;
        max-height: auto;
    }

    footer {
        height: auto;
        background-color: #48ae76;
        margin-top: 50px;
    }

    .footer-content {
        width: 160px;
    }

    #headlineAdj {
        color: #48ae76;
    }

    .max-width {
        max-width: 1336px;
    }
/* ----------------- NAV toggler ICON -----------------  */
    .animated-icon2 {
        width: 30px;
        height: 20px;
        position: relative;
        margin: 0px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }

    .animated-icon2 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon2 span:nth-child(1) {
        top: 0px;
    }

    .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
        top: 10px;
    }

    .animated-icon2 span:nth-child(4) {
        top: 20px;
    }

    .animated-icon2.open span:nth-child(1) {
        top: 11px;
        width: 0%;
        left: 50%;
    }

    .animated-icon2.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .animated-icon2.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

    .animated-icon2.open span:nth-child(4) {
        top: 11px;
        width: 0%;
        left: 50%;
    }

    .animated-icon2 span {
        background-color: #48ae76;
    }
/* ----------------- NAV TOGGLER ICON(END) -----------------  */


/* ----------------- SM -----------------  */

@media (min-width: 576px) {

    .data-science-container {
        background-image:url(https://i.imgur.com/xmpEdvK.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .data-science {
        min-width: 182px;

    }
}

/* ----------------- MD -----------------  */

@media (min-width: 768px) {
    .nav-btn {
        width: 150px;
    }
    a.nav-link {
        padding: 0px;
        border: none;
    }
    .navbar .navbar-collapse {
        text-align: center;
    }

    .bg-img {
        margin-top: 62px;
        width: 100vw;
        height: 60vh;
        background-image:url(https://i.imgur.com/ug60Sxa.png);
        /*background-image:url(https://i.imgur.com/PkRAK6q.jpg);*/
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }


    .bg-img {
        margin-top: 70px;
        width: 100vw;
        height: 80vh;
        /*background-image:url(https://i.imgur.com/ug60Sxa.png);*/
        background-image:url(https://i.imgur.com/PkRAK6q.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    #main-message {
        /*font-family: 'Roboto', sans-serif;*/
        font-size: 48px;
        line-height: 56px;
    }

    #main-sub-message {
        font-size: 16px;
        width: 530px;
        max-width: 530px;
    }


    #main-message-container {
        /*margin-left: 20vw;*/
    }

    .data-science {
        font-size: 20px;
    }

    #video-container {
        background-image:url(https://i.imgur.com/3GJfYYL.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-color: dimgrey;
        background-blend-mode: multiply;
        height: 250px;
    }

    #video-icon {
        cursor: pointer;
    }

    #video-icon:hover {
        background-image: url(https://i.imgur.com/iAN6g3O.png);

    }
}

/* ----------------- LG -----------------  */

@media (min-width: 960px) {
    /* font size bigger on large screen */
    a.nav-link {
        font-size: 16px;
    }

    .titles {
        font-size: 24px;
    }

    .step-msg {
        width: 500px;
        font-size: 20px;
    }
}